<%- include(`../partials/head`, {bot, user, path}) %>
<div class="container">

        <div class="bg-secondary p-5 m-5 text-center">
            <h1 class="text-warning">Authentication Error</h1>
            <p class="text-light">There has been a problem with authentication.</p>
        </div>

    <% include ../partials/footer %>